<div class="row center">
  <ul id="dashmenu" class="side-nav">
    <li><label>Cliente</label></li>
    <li><a href="/mycars">Mis Autos</a></li>
    <li><a href="/solicitudcita">Solicitar Citas</a></li>
    <li><a href="/perfil">Mi Perfil</a></li>
    <li><label>Gerencia</label></li>
    <li><a href="/colacitas">Gestion de Citas</a></li>
    <li><a href="/reportes">Reportes</a></li>
    <li><a href="/recibirvehiculo">Recibir Vehiculo</a></li>
    <li><label>Administrador</label></li>
    <li><a href="#">Gestion de Usuarios</a></li>
    <li><a href="#">Gestion de Repuestos</a></li>
    <li><label>Mecanico</label></li>
    <li><a href="/modificararchivo">Modificar Archivo</a></li>
    <li><a href="#">Repuestos</a></li>
  </ul>
  <a href="#" data-activates="dashmenu" id="download-button" class="button-collapse btn waves-effect waves-light  grey darken-3">Menu</a>
</div>
<div class="container">
  <div class="section">
<div class="row">
  <div class="col s12 m12 l12">

    <h3 class="center-align">Lista de Usuarios</h3>
    <table class="bordered highlight centered responsive-table center-align">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Carro</th>
          <th>Fecha solicitada</th>
          <th>Fecha de Cita</th>
          <th>Asignar</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Rafael Matienzo</td>
          <td>Toyota Corolla</td>
          <td>12 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a href="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>Pedro Pérez</td>
          <td>VW Gol</td>
          <td>15 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a href="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>Maximiliano Casale</td>
          <td>Ferrari Scuderia</td>
          <td>18 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a href="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>Gabriele Troncone</td>
          <td>Lamborghini Huracan</td>
          <td>5 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a href="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>Sara Macayo</td>
          <td>Dodge Caliber</td>
          <td>19 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a href="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>Luciano Pineda</td>
          <td>Dodge Patas</td>
          <td>1 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a href="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>VW Tuareg</td>
          <td>12 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a href="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>Gabriel De Lellis</td>
          <td>Lykan Hypersport</td>
          <td>31 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a href="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>Carl Marx</td>
          <td>Mainframe IBM</td>
          <td>30 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a href="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
      </tbody>
    </table>



  </div>
</div>
    </div>
</div>
