<div class="row center">
  <app-side-bar-fav></app-side-bar-fav>
</div>
<div class="container">
  <div class="section">
<div class="row">
  <div class="col s12 m12 l12">

    <h3 class="center-align">Lista de Usuarios</h3>
    <table class="bordered highlight centered responsive-table center-align">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Carro</th>
          <th>Fecha solicitada</th>
          <th>Fecha de Cita</th>
          <th>Asignar</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>Rafael Matienzo</td>
          <td>Toyota Corolla</td>
          <td>12 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a routerLink="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>Pedro Pérez</td>
          <td>VW Gol</td>
          <td>15 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a routerLink="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>Maximiliano Casale</td>
          <td>Ferrari Scuderia</td>
          <td>18 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a routerLink="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>Gabriele Troncone</td>
          <td>Lamborghini Huracan</td>
          <td>5 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a routerLink="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>Sara Macayo</td>
          <td>Dodge Caliber</td>
          <td>19 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a routerLink="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>Luciano Pineda</td>
          <td>Dodge Patas</td>
          <td>1 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a routerLink="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>John Doe</td>
          <td>VW Tuareg</td>
          <td>12 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a routerLink="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>Gabriel De Lellis</td>
          <td>Lykan Hypersport</td>
          <td>31 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a routerLink="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
        <tr>
          <td>Carl Marx</td>
          <td>Mainframe IBM</td>
          <td>30 February, 2018</td>
          <td>
            <input type="text" class="datepicker">
            <label>Fecha tentativa</label>
          </td>
          <td><a routerLink="#"><i class="material-icons blue-text darken-1">assignment</i></a></td>
        </tr>
      </tbody>
    </table>



  </div>
</div>
    </div>
</div>
