<div class="row center">
  <app-side-bar-fav></app-side-bar-fav>
</div>
<div class="container">
  <div class="section">
    <div *ngIf="loading">
      <div class="row">
        <br /><br /><br /><br /><br /><br /><br /><br />
        <div class="col s12 m12 l12 center-align">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
        <br /><br /><br /><br /><br /><br /><br /><br />
      </div>
    </div>
<div class="row" *ngIf="!loading">
  <div class="col s12 m12 l12" >

    <h3 class="center-align">Lista de Usuarios</h3>
    <br />
    <table class="bordered highlight centered responsive-table center-align">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Carro</th>
          <th>Fecha Desde</th>
          <th>Hasta</th>
          <th>Fecha de Cita</th>
          <th>Asignar</th>
          <th>Indicar Incapacidad</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let cita of colaCitas">
          <td>{{cita.Usuario.PrimerNombre}} {{cita.Usuario.PrimerApellido}}</td>
          <td>{{cita.Vehiculo.Marca}} {{cita.Vehiculo.Modelo}}</td>
          <td>{{cita.FechaTentativaInicial}}</td>
          <td>{{cita.FechaTentativaFinal}}</td>
          <td>
            <input [(ngModel)]="cita.FechaAsignada" materialize="pickadate" type="text" id="fechaAsignada" name="datepicker" required>
            <label for="datepicker">FECHA TENTATIVA</label>
          </td>
          <td><button [disabled]="cita.FechaAsignada == null" (click)="asignar(cita)" class="btn waves-effect waves-light blue darken-1"><i class="material-icons white-text darken-1">assignment</i></button></td>
          <td><button (click)="rechazar(cita); cargarCitas()" class="btn waves-effect waves-light blue darken-1"><i class="material-icons white-text darken-1">close</i></button></td>
        </tr>
      </tbody>
    </table>
    <br /><br /><br />


  </div>
</div>
    </div>
</div>
