<footer class="page-footer blue darken-1">
  <div class="container">
    <div class="row">
      <div class="col l3 s12 center-align">
        <h5 class="white-text">Taller Matienzo</h5>
        <ul>
          <li><a class="white-text">Realizado por:</a></li>
          <li><a class="white-text">Gabriel De Lellis</a></li>
          <li><a class="white-text">Gabriele Troncone</a></li>
          <li><a class="white-text">Maximiliano Casale</a></li>
        </ul>
      </div>
      <div class="col l3 s12 center-align">
        <h5 class="white-text">Navegacion</h5>
        <ul>
          <li><a class="white-text" routerLink="/">Inicio</a></li>
          <li><a class="white-text" routerLink="/contacto">Contacto</a></li>
          <li><a class="white-text" routerLink="/equipo">Equipo</a></li>
          <li><a class="white-text" routerLink="/signup">Registrar</a></li>
        </ul>
      </div>
      <div class="col l3 s12 center-align">
        <h5 class="white-text">-</h5>
        <ul>
          <li><a class="white-text" routerLink="/mycars">Mis Autos</a></li>
          <li><a class="white-text" routerLink="/perfil">Mi Perfil</a></li>
          <li><a class="white-text" routerLink="/solicitudcita">Solicitar Cita</a></li>
          <li><a class="white-text" routerLink="#!">-</a></li>
        </ul>
      </div>
      <div class="col l3 s12 center-align">
        <h5 class="white-text">Redes Sociales</h5>
        <a href="https://www.facebook.com/equirentapy/" class="icon-button facebook tooltipped" data-position="bottom" data-delay="50" data-tooltip="Facebook" target="_blank"><i class="icon-facebook"></i><span></span></a>
        <a href="https://twitter.com/equirentapy/" class="icon-button twitter tooltipped" data-position="bottom" data-delay="50" data-tooltip="Twitter" target="_blank"><i class="icon-twitter"></i><span></span></a>
        <a href="https://www.instagram.com/equirentapy/" class="icon-button instagram tooltipped" data-position="bottom" data-delay="50" data-tooltip="Instagram" target="_blank"><i class="icon-instagram"></i><span></span></a>
        <a href="https://www.youtube.com/channel/UCywghivKcX7EezNo2l3opbg?view_as=subscriber" class="icon-button youtube tooltipped" data-position="bottom" data-delay="50" data-tooltip="Youtube" target="_blank"><i class="icon-youtube-play"></i><span></span></a>
      </div>
    </div>
  </div>
  <div class="footer-copyright center-align">
    <div class="container">
      Taller Matienzo 2018 <a class="white-text text-lighten-3" routerLink="#">Todos los Derechos Reservados. Desarrollado por: Metropaveo Solutions.</a>
    </div>
  </div>
</footer>
