<footer class="page-footer blue darken-1">
  <div class="container">
    <div class="row">
      <div class="col l4 s12 center-align">
        <h5 class="white-text">Taller Matienzo</h5>
        <p class="grey-text text-lighten-4" style="margin:0">Realizado por:</p>
        <p class="grey-text text-lighten-4" style="margin:0">Gabriel De Lellis</p>
        <p class="grey-text text-lighten-4" style="margin:0">Gabriele Troncone</p>
        <p class="grey-text text-lighten-4" style="margin:0">Maximiliano Casale</p>


      </div>
      <div class="col l4 s12 center-align">
        <h5 class="white-text">Navegacion</h5>
        <ul>
          <li><a class="white-text" href="/">Inicio</a></li>
          <li><a class="white-text" href="/contacto">Contacto</a></li>
          <li><a class="white-text" href="/equipo">Equipo</a></li>
          <li><a class="white-text" href="/signup">Registrar</a></li>
        </ul>
      </div>
      <div class="col l4 s12 center-align">
        <h5 class="white-text">-</h5>
        <ul>
          <li><a class="white-text" href="/mycars">Mis Autos</a></li>
          <li><a class="white-text" href="/perfil">Mi Perfil</a></li>
          <li><a class="white-text" href="/solicitudcita">Solicitar Cita</a></li>
          <li><a class="white-text" href="#!">-</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Taller Matienzo 2018 <a class="white-text text-lighten-3" href="#">todos los derechos reservados.</a>
      <a class="grey-text text-lighten-4 right" href="#!">Desarrollado por: Metropaveo Solutions.</a>
    </div>
  </div>
</footer>
