<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">PERFIL</h1>
      <div class="row">
        <h5 class="header center col s12 light"></h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax parallaxOscuro"><img src="http://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicles/2018/cars/cruze/mov/01-images/2018-cruze-shared03.jpg?imwidth=1500" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section no-pad-bot">

    <div class="row">
      <form class="col s12 m12 l12">
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">account_box</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">NOMBRE</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">account_box</i>
            <input id="last_name" type="text" class="validate">
            <label for="lastName">APELLIDO</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">branding_watermark</i>
            <input id="icon_prefix" type="number" class="validate">
            <label for="icon_prefix">CÉDULA</label>
          </div>

          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">date_range</i>
            <label for="lastName">FECHA DE NACIMIENTO</label>
            <input type="text" class="datepicker">

          </div>
        </div>


        <div class="row">

          <div class="col s12 m6 l6 center-align ">

            <button class="btn waves-effect waves-light blue darken-1" type="submit" name="action">
              <a href="/" style="color:aliceblue">Modificar</a>
            </button>
          </div>
          <div class="col s12 m6 l6 center-align ">
            <ul id="dashmenu" class="side-nav">
              <li><label>Cliente</label></li>
              <li><a href="/mycars">Mis Autos</a></li>
              <li><a href="/solicitudcita">Solicitar Citas</a></li>
              <li><a href="/perfil">Mi Perfil</a></li>
              <li><label>Gerencia</label></li>
              <li><a href="#">Gestion de Citas</a></li>
              <li><a href="#">Reportes</a></li>
              <li><a href="#">Recibir Vehiculo</a></li>
              <li><label>Administrador</label></li>
              <li><a href="#">Gestion de Usuarios</a></li>
              <li><a href="#">Gestion de Repuestos</a></li>
              <li><label>Mecanico</label></li>
              <li><a href="#">Modificar Archivo</a></li>
              <li><a href="#">Repuestos</a></li>
            </ul>
            <a href="#" data-activates="dashmenu" id="download-button" class="button-collapse btn waves-effect waves-light  grey darken-3">Menu</a>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>
