<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">

      <h1 class="header center white-text">GESTOR DE USUARIOS</h1>
      <div class="row center">
        <app-side-bar-fav></app-side-bar-fav>
      </div>
      <br>

    </div>
  </div>
  <div class="parallax parallaxOscuro"><img src="http://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicles/2018/cars/cruze/mov/01-images/2018-cruze-shared01.jpg?imwidth=1500" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <!-- Buscador Row -->
    <form (ngSubmit)="buscar()" #buscarForm="ngForm">
      <div class="form-group row">
        <div class="col hide-on-small-only m3 l3"></div>
        <div class="input-field col s12 m3 l3">
          <i class="material-icons prefix">account_box</i>
          <input id="buscar" type="text" class="validate" required [(ngModel)]="userBuscado.PrimerNombre" name="busqueda">
          <label for="buscar">BUSCAR</label>
        </div>
        <div class="col s12 m3 l3 center" id="bottonpadding">
          <button class="btn waves-effect waves-light blue darken-1" type="submit" [disabled]="!buscarForm.form.valid">
            Buscar
          </button>
        </div>
        <div class="col hide-on-small-only m3 l3"></div>
      </div>
    </form>
    <!-- Fin buscador -->

      <div class="row">
        <div class="col s12 m12 l12">

          <h3 class="center-align">Lista de Usuarios</h3>
          <table class="bordered highlight centered responsive-table center-align">
            <thead>
              <tr>
                <th>Cédula</th>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Ver Más</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let user of users">
                <td>{{user.Cedula}}</td>
                <td>{{user.PrimerNombre}} {{user.PrimerApellido}}</td>
                <td>{{user.Rol}}</td>
                <td><button class="btn waves-effect waves-light blue darken-1" type="button" (click)="selectUser(user)"><i class="material-icons white-text darken-1">person</i></button></td>
              </tr>
          </table>


        </div>
      </div>





    </div>
</div>


<br><br><br><br><br>
