



<div class="container">

  <br>
  <div class="slider">
    <ul class="slides">
      <li>
        <img src="assets/tallermatienzo1.png">
        <div class="caption center-align">
        </div>
      </li>
      <li>
        <img src="assets/tallermatienzo2.png">
        <div class="caption left-align">
        </div>
      </li>
      <li>
        <img src="assets/tallermatienzo3.png">
        <div class="caption right-align">
        </div>
      </li>
      <li>
        <img src="assets/tallermatienzo4.png">
        <div class="caption center-align">
        </div>
      </li>
    </ul>
  </div>






  <div class="section">
    <div class="row">
      <div class="col s12 m12 l12">
        <p class="flow-text text-justify">Taller Matienzo es un taller de origen familiar, fundado en 1990. Hoy en día cuenta con una gran experiencia que asegura la satisfacción de cada uno de nuestros clientes. Gracias al uso de las últimas tecnologías (Mainframe IBM modelo 8006), así como a las más modernas técnicas, la puesta a punto de su vehículo está asegurada.</p>
        <p class="flow-text text-justify">A lo largo de estos años la calidad y profesionalidad del Grupo han hecho que Taller Matienzo cuente con una gran cartera de clientes. La empresa cuenta con grandes profesionales del sector que han ayudado a que Taller Matienzo se haya convertido en un taller reconocido  por su trabajo en equipo y disposición para sus clientes.</p>
        <p class="flow-text text-justify">La garantía de éxito del taller está respaldada por la preocupación y por el bienestar de nuestros clientes, porque sabemos que la puesta a punto de su vehículo es realmente importante para usted, para alcanzar un mayor confort y seguridad.</p>
        <p class="flow-text text-justify">Además Taller Matienzo es un centro IBM Car Services. Estar avalados por la profesionalidad y garantía del grupo IBM es lo que distingue al Grupo de su competencia y da un mayor reconocimiento a la profesionalidad y calidad de sus servicios.</p>
        <p class="flow-text text-justify">
          Si desea más información sobre la forma de trabajar y los valores del Grupo o requiere alguno de sus servicios, le esperan en:<br><br><span class="blue-text darken-1">Distribuidor Universidad, Autopista Petare-Guarenas. Urbanización Terrazas del Ávila.</span>
        </p>

      </div>


    </div>
  </div>
</div>
