<div class="row center">
  <app-side-bar-fav></app-side-bar-fav>
</div>


<div class="container">
  <div style="padding-top: 40px" class="section">
    <div *ngIf="loading">
      <h1 class="center-align">Cargando :P!</h1>
    </div>

    <div class="row" *ngIf="!loading">
<!-- Lista de Carros-->
      <div class="col s12 m4" *ngFor="let carro of vehiculos" >
        <div (click)="selectCar(carro)">
          <div class="icon-block notAsigned" id="tile">
            <h4 class="center">{{carro.Marca}} {{carro.Modelo}}</h4>
            <h5 class="light center">Color: {{carro.Color}}</h5>
            <h5 class="light center">Placa: {{carro.Placa}}</h5>
            <h5 class="light center">Año: {{carro.Ano}}</h5>
            <br><br><br>
            <h5 class="light center">Estatus: <!--TODO--></h5>
          </div>
        </div>
        </div>


      <!-- Link para Registrar Carros-->
      <div class="col s12 m4">
        <a routerLink="/carregister">
          <div class="icon-block" id="tile">
            <p class="center blue-text darken-1" id="plus"><i class="material-icons">add</i></p>
            <h5 class="light center" style="color:#1e88e5;">Vehiculo nuevo</h5>
          </div>
        </a>
      </div>

    </div>

  </div>
</div>

