#paraheight {
  min-height: 500px;
}

#plus{
  font-size:86px;

}
#tile {
  color: aliceblue;
  padding: 5px;
  height: 350px;
  border-radius: 5px;
}

.notAsigned {
  background-color: #1e88e5;
}

.waiting {
  background-color: #ff6d00;
}

.repairing {
  background-color: #ffd600;
}

.ready {
  background-color: #00e676;
}


