<div class="row right">
  <ul id="dashmenu" class="side-nav">
    <li><label>Cliente</label></li>
    <li><a href="/mycars">Mis Autos</a></li>
    <li><a href="/solicitudcita">Solicitar Citas</a></li>
    <li><a href="/perfil">Mi Perfil</a></li>
    <li><label>Gerencia</label></li>
    <li><a href="/colacitas">Gestion de Citas</a></li>
    <li><a href="/reportes">Reportes</a></li>
    <li><a href="/recibirvehiculo">Recibir Vehiculo</a></li>
    <li><label>Administrador</label></li>
    <li><a href="/manageuser">Gestion de Usuarios</a></li>
    <li><a href="#">Gestion de Repuestos</a></li>
    <li><label>Mecanico</label></li>
    <li><a href="/modificararchivo">Modificar Archivo</a></li>
    <li><a href="#">Repuestos</a></li>
  </ul>
  <a href="#" data-activates="dashmenu" id="download-button" class="button-collapse btn waves-effect waves-light  grey darken-3">Menu</a>
</div>


<div class="container">
  <div style="padding-top: 40px" class="section">
    <div class="row">
      <div class="col s12 m4">
        <a href="/autoselected">
          <div class="icon-block waiting" id="tile">
            <h4 class="center">Volkswagen Tuareg</h4>
            <h5 class="light center">Placa: IBM8006</h5>
            <h5 class="light center">Año: 2015</h5>
            <br><br><br>
            <h5 class="light center">Estatus: En Espera</h5>
          </div>
          </a>
</div>

      <div class="col s12 m4">
        <a href="/autoselected">
          <div class="icon-block ready" id="tile">
            <h4 class="center">Audi R8</h4>
            <h5 class="light center">Placa: IBM8004</h5>
            <h5 class="light center">Año: 2015</h5>
            <br><br><br>
            <h5 class="light center">Estatus: Listo para Retirar</h5>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="/autoselected">
          <div class="icon-block reparando" id="tile">

            <h4 class="center">Toyota Corolla</h4>
            <h5 class="light center">Placa: IBM8002</h5>
            <h5 class="light center">Año: 2015</h5>
            <br><br><br>
            <h5 class="light center">Estatus: Reparando</h5>
          </div>
        </a>
      </div>

      <div class="col s12 m4">
        <a href="/carregister">
          <div class="icon-block" id="tile">
            <p class="center blue-text darken-1" id="plus"><i class="material-icons">add</i></p>
            <h5 class="light center" style="color:#1e88e5;">Vehiculo nuevo</h5>
          </div>
        </a>
      </div>

    </div>

  </div>
</div>

