<div class="row center">
  <app-side-bar-fav></app-side-bar-fav>
</div>


<div class="container">
  <div style="padding-top: 40px" class="section">
    <div class="row">
<!-- Lista de Carros-->
      <div class="col s12 m4">
        <a routerLink="/autoselected">
          <div class="icon-block waiting" id="tile">
            <h4 class="center">Volkswagen Tuareg</h4>
            <h5 class="light center">Placa: IBM8006</h5>
            <h5 class="light center">Año: 2015</h5>
            <br><br><br>
            <h5 class="light center">Estatus: En Espera</h5>
          </div>
          </a>
        </div>


      <!-- Link para Registrar Carros-->
      <div class="col s12 m4">
        <a routerLink="/carregister">
          <div class="icon-block" id="tile">
            <p class="center blue-text darken-1" id="plus"><i class="material-icons">add</i></p>
            <h5 class="light center" style="color:#1e88e5;">Vehiculo nuevo</h5>
          </div>
        </a>
      </div>

    </div>

  </div>
</div>

