/*Large Size*/
@media only screen and (min-width: 993px) {
  #paraheight {
    min-height: 500px;
  }
}

/*Medium Size*/
@media only screen and (min-width: 601px) {
  #paraheight {
    min-height: 300px;
  }
}

/*Small Size*/
@media only screen and (max-width: 600px) {
  #paraheight {
    min-height: 10px;
  }
}

  #plus {
    font-size: 86px;
  }

  #tile {
    color: aliceblue;
    padding: 5px;
    height: 500px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 15px;
  }

  .Normal {
    background-color: #1e88e5;
  }

    .Normal:hover {
      background-color: #42a5f5;
    }

  .Esperando {
    background-color: #ff6d00;
  }

    .Esperando:hover {
      background-color: #ffab40;
    }

  .Reparando {
    background-color: #ffd600;
  }

    .Reparando:hover {
      background-color: #ffea00;
    }

  .Listo {
    background-color: #00e676;
  }

    .Listo:hover {
      background-color: #69f0ae;
    }

  img {
    width: 100%;
    height: 200px;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    border-radius: 50px;
  }
