
<nav class="grey darken-4" role="navigation">
  <div class="nav-wrapper container">
    <a id="logo-container" routerLink="/" class="brand-logo text-white">TM</a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/equipo">Equipo</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>
      <li *ngIf="userID !== null"><a routerLink="/" (click)="logout()">Salir</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a routerLink="/">Inicio</a></li>
      <li><a routerLink="/equipo">Equipo</a></li>
      <li><a routerLink="/contacto">Contacto</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

