<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">REGISTRO DE VEHICULO</h1>
      <div class="row">
        <h5 class="header center col s12 light"></h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax parallaxOscuro"><img src="https://lh3.googleusercontent.com/UOQ1R_UqkwsQJoG8bo7Gcn5pKsro0gX7t8ieBPy8UeOsJzovWpNax4KsNtkE__jM5sbw=h900" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <div class="row">
      <form class="col s12 m12 l12">
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">border_color</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">SERIAL</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">account_box</i>
            <input id="last_name" type="text" class="validate">
            <label for="lastName">MODELO</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">date_range</i>
            <input id="icon_prefix" type="number" class="validate">
            <label for="icon_prefix">AÑO</label>
          </div>

          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">branding_watermark</i>
            <label for="lastName">PLACA</label>
            <input type="text" class="datepicker">

          </div>
        </div>
        <div class="row">
          <div class="file-field input-field col s12 m12 l12">
            <div class="btn waves-effect waves-light blue darken-1">
              <span>File</span>
              <input type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col s12 m12 l12 center-align ">
            <button class="btn waves-effect waves-light blue darken-1" type="submit" name="action">
              <a routerLink="/mycars" style="color:aliceblue">Registrar</a>
            </button>
          </div>
        </div>

      </form>
    </div>

  </div>
</div>
