<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">MODIFICAR AUTO</h1>
      <div class="row">
        <h5 class="header center col s12 light"></h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax parallaxOscuro"><img src="https://lh3.googleusercontent.com/UOQ1R_UqkwsQJoG8bo7Gcn5pKsro0gX7t8ieBPy8UeOsJzovWpNax4KsNtkE__jM5sbw=h900" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <div class="row">
      <form class="col s12 m12 l12">
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">border_color</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">SERIAL</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">account_box</i>
            <input id="last_name" type="text" class="validate">
            <label for="lastName">MODELO</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">date_range</i>
            <input id="icon_prefix" type="number" class="validate">
            <label for="icon_prefix">AÑO</label>
          </div>

          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">branding_watermark</i>
            <label for="lastName">PLACA</label>
            <input type="text" class="datepicker">

          </div>
        </div>
        <!-- 3era fila -->
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">DIAGNOSTICO</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <textarea id="textarea1" class="materialize-textarea"></textarea>
            <label for="textarea1">REPUESTOS</label>
          </div>
        </div>
        <!-- 4ta fila -->
        <div class="row">
          <div class="col s12 m6 l6">
            <p>
              <input type="checkbox" id="test1" />
              <label for="test1">Caucho de Repuesto</label>
            </p>
            <p>
              <input type="checkbox" id="test2" />
              <label for="test2">Llaves</label>
            </p>
            <p>
              <input type="checkbox" id="test3" />
              <label for="test3">Gato</label>
            </p>
          </div>
          <div class="col s12 m6 l6">
            <p>
              <input type="checkbox" id="test4" />
              <label for="test4">Herramientas</label>
            </p>
            <p>
              <input type="checkbox" id="test5" />
              <label for="test5">Equipo de Sonido</label>
            </p>
            <p>
              <input type="checkbox" id="test6" />
              <label for="test6">Otros</label>
            </p>
          </div>
        </div>
        <!-- 5ta fila -->
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">account_box</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">MECANICO</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">content_paste</i>
            <input id="icon_prefix" type="text" class="validate">
            <label for="icon_prefix">OTROS</label>
          </div>
        </div>
        <div class="row">
          <div class="file-field input-field col s12 m12 l12">
            <div class="btn waves-effect waves-light blue darken-1">
              <span>File</span>
              <input type="file">
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" type="text">
            </div>
          </div>
        </div>
        <!-- 6ta fila -->
        <div class="row center">
          <div class="col s12 m6 l6">
            <img class="responsive-img" src="http://cdn.bmwblog.com/wp-content/uploads/BMW-Gran-Coupe-2.jpg" />
          </div>
          <div class="col s12 m6 l6">
            <img class="responsive-img" src="http://img.turbo.fr/04353116-photo-bmw-serie-6-gran-coupe-premiers-croquis.jpg" />
          </div>
        </div>

        <div class="row center">
          <button class="btn waves-effect waves-light blue darken-1" type="submit" name="action">
            <a href="/" style="color:aliceblue">Modificar</a>
          </button>
        </div>

        <div class="row center">
          <ul id="dashmenu" class="side-nav">
            <li><label>Cliente</label></li>
            <li><a href="/mycars">Mis Autos</a></li>
            <li><a href="/solicitudcita">Solicitar Citas</a></li>
            <li><a href="/perfil">Mi Perfil</a></li>
            <li><label>Gerencia</label></li>
            <li><a href="/colacitas">Gestion de Citas</a></li>
            <li><a href="/reportes">Reportes</a></li>
            <li><a href="/recibirvehiculo">Recibir Vehiculo</a></li>
            <li><label>Administrador</label></li>
            <li><a href="#">Gestion de Usuarios</a></li>
            <li><a href="#">Gestion de Repuestos</a></li>
            <li><label>Mecanico</label></li>
            <li><a href="/modificararchivo">Modificar Archivo</a></li>
            <li><a href="#">Repuestos</a></li>
          </ul>
          <a href="#" data-activates="dashmenu" id="download-button" class="button-collapse btn waves-effect waves-light  grey darken-3">Menu</a>
        </div>
      </form>
    </div>

  </div>
</div>
