<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">MODIFICAR AUTO</h1>
      <div class="row">
        <h5 class="header center col s12 light"></h5>
        <div class="row center">
          <app-side-bar-fav></app-side-bar-fav>
        </div>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax parallaxOscuro"><img src="https://lh3.googleusercontent.com/UOQ1R_UqkwsQJoG8bo7Gcn5pKsro0gX7t8ieBPy8UeOsJzovWpNax4KsNtkE__jM5sbw=h900" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">
    <h5 class="light center">Vehículo</h5>
    <div class="divider"></div>
    <br />
    <div class="row">
      <form >
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">border_color</i>
            <input id="serial" type="text" class="validate" disabled name="serial" [(ngModel)]="vehiculo.SerialMotor">
            <label class="active" for="serial">SERIAL</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">account_box</i>
            <input id="modelo" type="text" class="validate" disabled name="modelo" [(ngModel)]="vehiculo.Modelo">
            <label class="active" for="modelo">MODELO</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">date_range</i>
            <input id="ano" type="number" class="validate" disabled name="ano" [(ngModel)]="vehiculo.Ano">
            <label class="active" for="ano">AÑO</label>
          </div>

          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">branding_watermark</i>
            <input type="text" class="validate" disabled name="placa" [(ngModel)]="vehiculo.Placa">
            <label class="active" for="lastName">PLACA</label>
          </div>
        </div>
        <h5 class="light center">Recepción</h5>
        <div class="divider"></div>
        <br/>
        <!-- 4ta fila -->
        <div class="row">
          <div class="input-field col s12 m6 l6">
              <input type="text" class="validate" id="caucho" [disabled]="user.Rol != 1" name="cauchos" [(ngModel)]="orden.Cauchos"/>
              <label for="caucho">Caucho de Repuesto</label>
            </div>
            <div class="input-field col s12 m6 l6">
                <input type="text" class="validate" id="llaves" [disabled]="user.Rol != 1" name="llaves" [(ngModel)]="orden.Llaves"/>
                <label for="llaves">Llaves</label>
             </div>
          </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <input type="text" class="validate" id="gato" [disabled]="user.Rol != 1" name="gato" [(ngModel)]="orden.Gato"/>
            <label for="gato">Gato</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <input type="text" class="validate" id="herramientas" [disabled]="user.Rol != 1" name="herramientas" [(ngModel)]="orden.Herramientas"/>
            <label for="herramientas">Herramientas</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <input type="text" class="validate" id="sonido" [disabled]="user.Rol != 1" name="sonido" [(ngModel)]="orden.EquipoSonido"/>
            <label for="sonido">Equipo de Sonido</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <input type="text" class="validate" id="otros" [disabled]="user.Rol != 1" name="otros" [(ngModel)]="orden.Otros"/>
            <label for="otros">Otros</label>
          </div>
        </div>
        <!-- 6ta fila -->
        <div class="row center">
          <div class="col s12 m6 l6">
            <img class="responsive-img" src="http://cdn.bmwblog.com/wp-content/uploads/BMW-Gran-Coupe-2.jpg" />
          </div>
          <div class="col s12 m6 l6">
            <img class="responsive-img" src="http://img.turbo.fr/04353116-photo-bmw-serie-6-gran-coupe-premiers-croquis.jpg" />
          </div>
        </div>
        <h5 class="light center">Mecanico</h5>
        <div class="divider"></div>
        <br />
        <!-- 5ta fila -->
        <div class="row">
          <div class="col hide-on-small-only m2 l2"></div>
          <div class="input-field col s12 m8 l8">
            <i class="material-icons prefix">account_box</i>
            <input id="mecanico" type="text" class="validate" [disabled]="user.Rol != 1">
            <label for="mecanico">MECANICO</label>
          </div>
          <div class="col hide-on-small-only m2 l2"></div>
        </div>
        <!-- 3era fila -->
        <div >
          <div class="row">
            <div class="input-field col s12 m6 l6" >
              <textarea id="diagnostico" class="materialize-textarea" [disabled]="user.Rol != 3"></textarea>
              <label for="diagnostico">DIAGNOSTICO</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <textarea id="textarea1" class="materialize-textarea" [disabled]="user.Rol != 3"></textarea>
              <label for="diagnostico">REPUESTOS</label>
            </div>
          </div>
        </div>

        <div class="row center">
          <button  class="btn waves-effect waves-light blue darken-1" (click)="crearOrden()" name="action">
           Modificar
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
