<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">

      <h1 class="header center white-text">REPORTES</h1>


    </div>
  </div>
  <div class="parallax parallaxOscuro"><img src="http://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicles/2018/cars/cruze/mov/01-images/2018-cruze-shared01.jpg?imwidth=1500" alt="Unsplashed background img 1"></div>
</div>


  <div class="container">
    <div class="section">
      <br>


      <div class="row">
        <form class="col s12">
          <div class="row">
            <div class="col s12 m2 l2">
              <h3 class="flow-text">Rango</h3><p>Nota: En caso de dejar en blanco se escogen todos los reportes</p></div>
            <div class="input-field col s12 m5 l5">
              <input type="text" class="datepicker validate">
              <label for="first_name">Desde</label>
            </div>
            <div class="input-field col s12 m5 l5">
              <input type="text" class="datepicker validate">
              <label for="Hasta">Hasta</label>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m2 l2">
              <h3 class="flow-text">Formato</h3>
            </div>
            <div class="input-field col s12 m5 l5">
              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box1" checked="checked" />
                <label for="filled-in-box1">PDF</label>
              </p>
            </div>
            <div class="input-field col s12 m5 l5">
              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box2" checked="checked" />
                <label for="filled-in-box2">EXCEL</label>
              </p>
            </div>
          </div>
        </form>
      </div>


          <div class="row">
            <div class="col s12 m12 l12">

              <h3 class="center-align">Lista de Usuarios</h3>
              <table class="bordered highlight centered responsive-table center-align">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Nº Carros</th>
                    <th>Reporte Histórico</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Rafael Matienzo</td>
                    <td>Administrador</td>
                    <td>4</td>
                    <td><i class="material-icons blue-text darken-1">assignment</i></td>
                  </tr>
                  <tr>
                    <td>Pedro Pérez</td>
                    <td>Administrador</td>
                    <td>3</td>
                    <td><i class="material-icons blue-text darken-1">assignment</i></td>
                  </tr>
                  <tr>
                    <td>Maximiliano Casale</td>
                    <td>Mecánico</td>
                    <td>1</td>
                    <td><i class="material-icons blue-text darken-1">assignment</i></td>
                  </tr>
                  <tr>
                    <td>Gabriele Troncone</td>
                    <td>Mecánico</td>
                    <td>2</td>
                    <td><i class="material-icons blue-text darken-1">assignment</i></td>
                  </tr>
                  <tr>
                    <td>Sara Macayo</td>
                    <td>Cliente</td>
                    <td>0</td>
                    <td><i class="material-icons blue-text darken-1">assignment</i></td>
                  </tr>
                  <tr>
                    <td>Luciano Pineda</td>
                    <td>Cliente</td>
                    <td>2</td>
                    <td><i class="material-icons blue-text darken-1">assignment</i></td>
                  </tr>
                  <tr>
                    <td>John Doe</td>
                    <td>Cliente</td>
                    <td>1</td>
                    <td><i class="material-icons blue-text darken-1">assignment</i></td>
                  </tr>
                  <tr>
                    <td>Gabriel De Lellis</td>
                    <td>Cliente</td>
                    <td>1</td>
                    <td><i class="material-icons blue-text darken-1">assignment</i></td>
                  </tr>
                  <tr>
                    <td>Carl Marx</td>
                    <td>Cliente</td>
                    <td>2</td>
                    <td><i class="material-icons blue-text darken-1">assignment</i></td>
                  </tr>
                </tbody>
              </table>



            </div>
          </div>



          <div class="row">
            <div class="col s12 m12 l12">

              <h3 class="center-align">Lista de Vehículos</h3>
              <table class="bordered highlight centered responsive-table center-align">
                <thead>
                  <tr>
                    <th>Modelo</th>
                    <th>Placa</th>
                    <th>Dueño</th>
                    <th>Reporte Histórico</th>
                  </tr>
                </thead>

                <tbody>
                  <tr>
                    <td>Toyota Corolla 2017</td>
                    <td>IBM80I</td>
                    <td>Rafael Matienzo</td>
                    <td><i class="material-icons blue-text darken-1">assignment</i></td>
                  </tr>
                  <tr>
                    <td>Chevrolet Aveo 2011</td>
                    <td>ASD69F</td>
                    <td>Maximiliano Casale</td>
                    <td><i class="material-icons blue-text darken-1">assignment</i></td>
                  </tr>
                  <tr>
                    <td>Peugeot 206 2007</td>
                    <td>AGM84Y</td>
                    <td>John Doe</td>
                    <td><i class="material-icons blue-text darken-1">assignment</i></td>
                  </tr>
                  <tr>
                    <td>Jeep Cherokee 2010</td>
                    <td>TAN21E</td>
                    <td>Gabriele Troncone</td>
                    <td><i class="material-icons blue-text darken-1">assignment</i></td>
                  </tr>
                  <tr>
                    <td>Chevrolet Aveo 2007</td>
                    <td>XAE75E</td>
                    <td>Gabriel De Lellis</td>
                    <td><i class="material-icons blue-text darken-1">assignment</i></td>
                  </tr>

                </tbody>
              </table>



            </div>
          </div>


        </div>
      </div>
