<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">

      <h1 class="header center white-text">REPORTES</h1>


    </div>
  </div>
  <div class="parallax parallaxOscuro"><img src="http://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicles/2018/cars/cruze/mov/01-images/2018-cruze-shared01.jpg?imwidth=1500" alt="Unsplashed background img 1"></div>
</div>


  <div class="container">
    <div class="section">
      <br>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m12 l12">
        </div>
      </div>
    </div>
  </div>
