<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">

      <h1 class="header center white-text">REPORTES</h1>
      <div class="row center">
        <app-side-bar-fav></app-side-bar-fav>
      </div>
      <br>

    </div>
  </div>
  <div class="parallax parallaxOscuro"><img src="http://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicles/2018/cars/cruze/mov/01-images/2018-cruze-shared01.jpg?imwidth=1500" alt="Unsplashed background img 1"></div>
</div>


  <div class="container">
    <div class="section">



      <div class="row">
        <form class="col s12" materialize>
          <div class="row">
            <div class="col s12 m2 l2">
              <h3 class="flow-text">Rango</h3><p>Nota: En caso de dejar en blanco se escogen todos los reportes</p></div>
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">date_range</i>
              <input materialize="pickadate" type="text" id="datepicker1" name="datepicker" [(ngModel)]="datosReporte.FechaInicial" [materializeParams]="[{selectYears: 180, monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'], monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dec'], weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'], weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'], weekdaysLetter: ['D', 'L', 'M', 'M', 'J', 'V', 'S'], today: 'Hoy', clear: 'Limpiar', format: 'yyyy-mm-dd'}]">
              <label for="datepicker1">FECHA INICIAL</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">date_range</i>
              <input materialize="pickadate" type="text" id="datepicker2" name="datepicker" [(ngModel)]="datosReporte.FechaFinal" [materializeParams]="[{selectYears: 180, monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'], monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dec'], weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'], weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Jue', 'Vie', 'Sáb'], weekdaysLetter: ['D', 'L', 'M', 'M', 'J', 'V', 'S'], today: 'Hoy', clear: 'Limpiar', format: 'yyyy-mm-dd'}]">
              <label for="datepicker2">FECHA FINAL</label>
            </div>
          </div>

          <div class="row">
            <div class="col s12 m2 l2">
              <h3 class="flow-text">Formato</h3>
            </div>
            <div class="switch col s12 m5 l5">
              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box1" (click)="pdf()"/>
                <label for="filled-in-box1">PDF</label>
              </p>
            </div>
            <div class="switch col s12 m5 l5">
              <p>
                <input type="checkbox" class="filled-in" id="filled-in-box2" (click)="excel()"/>
                <label for="filled-in-box2">EXCEL</label>
              </p>
            </div>
          </div>
        </form>
      </div>


          <div class="row">
            <div class="col s12 m12 l12">

              <h3 class="center-align">Lista de Usuarios</h3>
              <table class="bordered highlight centered responsive-table center-align">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Reporte Histórico</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let usuario of usuarios">
                    <td>{{usuario.PrimerNombre}} {{usuario.PrimerApellido}}</td>
                    <td>{{usuario.Rol}}</td>
                    <td><i class="material-icons blue-text darken-1" (click)="reporteUsuario(usuario)">assignment</i></td>
                  </tr>
                </tbody>
              </table>

              <br /><br />

            </div>
          </div>

      <div class="row">
        <div class="col s12 m12 l12">

          <h3 class="center-align">Lista de Mecánicos</h3>
          <table class="bordered highlight centered responsive-table center-align">
            <thead>
            <tr>
              <th>Nombre</th>
              <th>Reporte Histórico</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let mecanico of mecanicos">
              <td>{{mecanico.PrimerNombre}} {{mecanico.PrimerApellido}}</td>
              <td><i class="material-icons blue-text darken-1" (click)="reporteMecanico(mecanico)">assignment</i></td>
            </tr>
            </tbody>
          </table>

          <br /><br />

        </div>
      </div>

          <div class="row">
            <div class="col s12 m12 l12">

              <h3 class="center-align">Lista de Vehículos</h3>
              <table class="bordered highlight centered responsive-table center-align">
                <thead>
                  <tr>
                    <th>Modelo</th>
                    <th>Placa</th>
                    <th>Dueño</th>
                    <th>Reporte Histórico</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let vehiculo of vehiculos">
                    <td>{{vehiculo.Marca}} {{vehiculo.Modelo}} {{vehiculo.Ano}}</td>
                    <td>{{vehiculo.Placa}}</td>
                    <td>{{vehiculo.Usuario.PrimerNombre}} {{vehiculo.Usuario.PrimerApellido}}</td>
                    <td><i class="material-icons blue-text darken-1" (click)="reporteVehiculo(vehiculo)">assignment</i></td>
                  </tr>
                </tbody>
              </table>

              <br /><br />

            </div>
          </div>
          <div class="row center">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">assessment</i>
              <input id="email" class="validate" required
                     [(ngModel)]="datosReporte.Modelo" name="modelo">
              <label for="email">Modelo de Vehículo</label>
            </div>
            <a (click)="reporteModelo()" id="download-button" class="btn-large waves-effect waves-light blue darken-1">Generar Reporte Modelo</a>
          </div>

        </div>
      </div>
