<!-- PARALLAX -->
<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">DETALLES DE REPUESTO</h1>
      <div class="row center">
        <app-side-bar-fav></app-side-bar-fav>
      </div>
      <div class="row">
        <h5 class="header center col s12 light"></h5>
      </div>
      <br><br>
    </div>
  </div>
  <div class="parallax parallaxOscuro"><img src="https://lh3.googleusercontent.com/UOQ1R_UqkwsQJoG8bo7Gcn5pKsro0gX7t8ieBPy8UeOsJzovWpNax4KsNtkE__jM5sbw=h900" alt="Unsplashed background img 1"></div>
</div>

<!-- BODY Container -->

<div class="container">
  <div class="section">
    <div class="row">
      <form  (ngSubmit)="modificarRepuesto()">
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">border_color</i>
            <input id="nombre" type="text" class="validate"  name="nombre" [(ngModel)]="repuesto.Nombre">
            <label class="active" for="nombre">NOMBRE</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">border_color</i>
            <input id="modelo" type="text" class="validate"  name="modelo" [(ngModel)]="repuesto.Modelo">
            <label class="active" for="modelo">MODELO</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">border_color</i>
            <input id="marca" type="text" class="validate"  name="marca" [(ngModel)]="repuesto.Marca">
            <label class="active" for="marca">MARCA</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">border_color</i>
            <label class="active" for="cantidad">CANTIDAD</label>
            <input id="cantidad" type="number" class="validate"  name="cant" [(ngModel)]="repuesto.Cantidad">
          </div>
        </div>
        <div class="row">
          <div class="row">
            <div class="input-field col s12 m12 l12">
              <i class="material-icons prefix">mode_edit</i>
              <input id="anos" type="text" class="validate"  name="anos" [(ngModel)]="repuesto.RangoAnos">
              <label class="active" for="anos">Años</label>
            </div>
          </div>
        </div>
        <div class="row center">
          <button class="btn waves-effect waves-light blue darken-1" type="submit" name="action">
            Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
