<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">REGISTRO DE USUARIO</h1>
      <div class="row">
        <h5 class="header center col s12 light"></h5>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax parallaxOscuro"><img src="http://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicles/2018/cars/cruze/mov/01-images/2018-cruze-shared03.jpg?imwidth=1500" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">

    <div class="row">
      <form class="col s12 m12 l12" (ngSubmit)="SignUp()" #signupForm="ngForm">
        <div class="form-group">
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">account_box</i>
            <input id="nombre" type="text" class="validate" required name="nombre"
                   [(ngModel)]="user.PrimerNombre">
            <label for="nombre">NOMBRE</label>
          </div>
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">account_box</i>
            <input id="seg-nombre" type="text" class="validate" required name="seg-nombre"
                   [(ngModel)]="user.SegundoNombre">
            <label for="seg-nombre">SEGUNDO NOMBRE</label>
          </div>
          </div>
          <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">account_box</i>
            <input id="last_name" type="text" class="validate" required name="apellido"
                   [(ngModel)]="user.PrimerApellido">
            <label for="lastName">APELLIDO</label>
          </div>
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">account_box</i>
              <input id="seg-last_name" type="text" class="validate" required name="seg-apellido"
                     [(ngModel)]="user.SegundoApellido">
              <label for="seg-lastName">SEGUNDO APELLIDO</label>
            </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">branding_watermark</i>
            <input id="cedula" type="number" class="validate" required name="cedula"
                   [(ngModel)]="user.Cedula">
            <label for="cedula">CÉDULA</label>
          </div>

          <div class="input-field col s12 m6 l6">
          <i class="material-icons prefix">date_range</i>
            <input id="datepicker" type="text" class="datepicker" name="datepicker"
            [(ngModel)]="user.Fecha_Nacimiento"> <!--Esto va Required, al parecer tiene un bug que no esta colocando-->
            <label for="datepicker">FECHA DE NACIMIENTO</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">email</i>
            <input id="email" type="email" class="validate" required name="email"
                   [(ngModel)]="user.Correo">
            <label for="email">CORREO ELECTRÓNICO</label>
          </div>

          <div class="input-field col s12 m6 l6">
            <i class="material-icons prefix">lock</i>
            <input id="password" type="password" class="validate" required name="password"
                   [(ngModel)]="user.Password">
            <label for="password">CONTRASEÑA</label>
          </div>
        </div>

        <div class="row">

          <div class="col s12 m12 l12 center-align ">
            <p class="center-align">
              <input type="checkbox" id="test5" required class="form-control" name="conditions" />
              <label for="test5">He leído y acepto los <a class="modal-trigger" href="#modal1">términos</a> y <a class="modal-trigger" href="#modal1">condiciones</a> de uso.</label>
            </p>
            <br>
          </div>
          </div>
          </div>

          <div class="row center-align">
            <button class="btn waves-effect waves-light blue darken-1" type="submit" [disabled]="!signupForm.form.valid">
              Registrar
            </button>
          </div>

      </form>
    </div>
      
  </div>
</div>

<!--Estos saltos son necesarios mientras la página esta un poco vacia, luego los quitamos-->
<br><br><br><br><br><br>


<!-- Términos y condiciones de uso -->
<div id="modal1" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h3 class="center-align">Términos y Condiciones de uso.</h3>
    <p class="flow-text text-justify">1) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ad architecto iure. Ullam, dolore odit consectetur amet enim itaque aperiam facere dicta sint, praesentium beatae.</p>
    <p class="flow-text text-justify">2) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis suscipit facere sunt provident, consequatur! Repudiandae corporis, quos nemo.</p>
    <p class="flow-text text-justify">3) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates maxime ipsum nobis, accusamus. Non aspernatur voluptate veniam perspiciatis reiciendis ex.</p>
    <p class="flow-text text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et suscipit quisquam molestias voluptate veritatis culpa, quo atque aut, nesciunt nostrum repellendus id distinctio quidem doloremque? Doloremque culpa porro, doloribus libero reprehenderit labore vero quidem ipsum fuga, eius molestias ullam ab.</p>
    <p class="flow-text text-justify">4) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae ad architecto iure. Ullam, dolore odit consectetur amet enim itaque aperiam facere dicta sint, praesentium beatae.</p>
    <p class="flow-text text-justify">5) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis suscipit facere sunt provident, consequatur! Repudiandae corporis, quos nemo.</p>
    <p class="flow-text text-justify">6) Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates maxime ipsum nobis, accusamus. Non aspernatur voluptate veniam perspiciatis reiciendis ex.</p>

  </div>
</div>
