<div class="center">
<ul id="dashmenu" class="side-nav">
  <li><label>Cliente</label></li>
  <li><a routerLink="/mycars">Mis Autos</a></li>
  <li><a routerLink="/solicitudcita">Solicitar Citas</a></li>
  <li><a routerLink="/perfil">Mi Perfil</a></li>
  <li><div class="divider"></div></li>
  <li><label>Gerencia</label></li>
  <li><a routerLink="/colacitas">Gestion de Citas</a></li>
  <li><a routerLink="/reportes">Reportes</a></li>
  <li><a routerLink="/recibirvehiculo"><i class=" tiny material-icons darken-1" style="margin:0 0 0 0;">camera</i>Recibir Vehiculo</a></li>
  <li><div class="divider"></div></li>
  <li><label>Administrador</label></li>
  <li><a routerLink="/manageuser">Gestion de Usuarios</a></li>
  <li><a routerLink="/parts-manage">Gestion de Repuestos</a></li>
  <li><div class="divider"></div></li>
  <li><label>Mecanico</label></li>
  <li><a routerLink="/modificararchivo"><i class=" tiny material-icons darken-1" style="margin:0 0 0 0;">camera</i>Modificar Archivo</a></li>
  <li><a routerLink="/parts-search">Repuestos</a></li>

</ul>
<button data-activates="dashmenu" class="button-collapse btn waves-effect waves-light blue-text text-darken-1 grey darken-3">Menu</button>
</div>
