<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">

      <h1 class="header center white-text">DETALLES DE USUARIO</h1>


    </div>
  </div>
  <div class="parallax parallaxOscuro"><img src="http://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicles/2018/cars/cruze/mov/01-images/2018-cruze-shared01.jpg?imwidth=1500" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">
    <div class="row center">
      <app-side-bar-fav></app-side-bar-fav>
    </div>
    <br>

    <div class="row">
      <div class="col s12 m12 l12">

        <h3 class="center-align">Nombre: Gabriel De Lellis</h3>
        <br><br>
        <table class="bordered highlight centered responsive-table center-align">
          <thead>
            <tr>
              <th>Cédula</th>
              <th>Fecha de Nacimiento</th>
              <th>Correo Electrónico</th>
              <th>Vehículo(s) Registrado(s)</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>24.073.386</td>
              <td>11/08/1994</td>
              <td>gabrieldelellis@correo.unimet.edu.ve</td>
              <td>4</td>
            </tr>

          </tbody>
        </table>

        <br><br>


        <div class="row">
          <form class="col s12 m12 l12">
            <div class="row">
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">account_box</i>
                <input id="icon_prefix" type="text" class="validate">
                <label for="icon_prefix">NOMBRE COMPLETO</label>
              </div>
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">date_range</i>
                <label for="datepicker">FECHA DE NACIMIENTO</label>
                <input id="datepicker" type="text" class="datepicker">

              </div>

            </div>
            <div class="row">
              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">branding_watermark</i>
                <input id="icon_prefix" type="number" class="validate">
                <label for="icon_prefix">CÉDULA</label>
              </div>

              <div class="input-field col s12 m6 l6">
                <i class="material-icons prefix">email</i>
                <input id="email" type="email" class="validate">
                <label for="email">CORREO ELECTRÓNICO</label>
              </div>
            </div>
            <div class="row">

              <div class="col s12 m12 l12 center-align ">

                <button class="btn waves-effect waves-light blue darken-1" type="submit" name="action">
                  <a routerLink="/" style="color:aliceblue">Actualizar</a>
                </button>
              </div>
            </div>

          </form>
        </div>



      </div>
    </div>
  </div>
    </div>

<br><br>
