<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">

      <h1 class="header center white-text">DETALLES DE USUARIO</h1>


    </div>
  </div>
  <div class="parallax parallaxOscuro"><img src="http://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicles/2018/cars/cruze/mov/01-images/2018-cruze-shared01.jpg?imwidth=1500" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">
    <div class="row center">
      <app-side-bar-fav></app-side-bar-fav>
    </div>
    <br>

    <div class="alert" id="popup">
      <span class="closebtn" onclick="this.parentElement.hidden=true;">&times;</span>
      <strong>Usuario modificado con exito!</strong>
    </div>

    <div class="row">
      <div class="col s12 m12 l12">

        <h3 class="center-align">Nombre: {{userSelected.PrimerNombre}} {{userSelected.SegundoNombre }} {{userSelected.PrimerApellido }} {{userSelected.SegundoApellido}}</h3>
        <br><br>
        <table class="bordered highlight centered responsive-table center-align">
          <thead>
            <tr>
              <th>Cédula</th>
              <th>Fecha de Nacimiento</th>
              <th>Correo Electrónico</th>
              <th>Vehículo(s) Registrado(s)</th>
              <th>Rol</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td>{{userSelected.Cedula}}</td>
              <td>{{userSelected.Fecha_Nacimiento}}</td>
              <td>{{userSelected.Correo}}</td>
              <td>{{userSelected.CantVehiculos}}</td>
              <td>{{userSelected.Rol}}</td>
            </tr>

          </tbody>
        </table>

        <br><br>


        <form class="col s12 m12 l12" #perfilForm="ngForm" (ngSubmit)="modificarPerfil()">
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">account_box</i>
              <input placeholder="Placeholder" id="nombre" type="text" class="validate" name="nombre" [(ngModel)]="userSelected.PrimerNombre" required>
              <label class="active" for="nombre">NOMBRE</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">account_box</i>
              <input placeholder="Placeholder" id="seg-nombre" type="text" class="validate" name="seg-nombre" [(ngModel)]="userSelected.SegundoNombre" required>
              <label class="active" for="seg-nombre">SEGUNDO NOMBRE</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">account_box</i>
              <input placeholder="Placeholder" id="apellido" type="text" class="validate" name="apellido" required [(ngModel)]="userSelected.PrimerApellido" required>
              <label class="active" for="apellido">APELLIDO</label>
            </div>

            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">account_box</i>
              <input placeholder="Placeholder" id="seg-apellido" type="text" class="validate" name="seg-apellido" [(ngModel)]="userSelected.SegundoApellido" required>
              <label class="active" for="seg-apellido">SEGUNDO APELLIDO</label>

            </div>
          </div>
          <div class="row">
            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">branding_watermark</i>
              <input placeholder="Placeholder" id="cedula" type="number" class="validate" name="cedula" required [(ngModel)]="userSelected.Cedula" >
              <label class="active" for="cedula">CÉDULA</label>
            </div>

            <div class="input-field col s12 m6 l6">
              <i class="material-icons prefix">date_range</i>
              <input materialize="pickadate" type="text" id="datepicker" name="datepicker" [(ngModel)]="userSelected.Fecha_Nacimiento" required>
              <label for="datepicker" class="active">FECHA DE NACIMIENTO</label>
            </div>
          </div>
          <div class="row">
            <div class="col hide-on-small-only m3 l3"></div>
            <div *ngIf="(userRol == 2)" class="col s12 m6 l6">
              <select name="rol" [(ngModel)]="userSelected.Rol"  materialize="material_select" required>
                <option value="0">Cliente</option>
                <option value="1">Gerente</option>
                <option value="2">Administrador</option>
                <option value="3">Mecanico</option>
              </select>
              <label>Rol</label>
            </div>
            <div class="col hide-on-small-only m3 l3"></div>
          </div>

          <div class="row">

            <div class="col s12 m12 l12 center-align ">

              <button class="btn waves-effect waves-light blue darken-1" type="submit" [disabled]="!perfilForm.form.valid">
                Modificar
              </button>
            </div>
          </div>

        </form>
        </div>



      </div>
    </div>
  </div>

<br><br>
