<app-side-bar-fav></app-side-bar-fav>

<div style="min-height: 80vh;" class="container"><!-- Container -->
  <div class="section">
    <!--Section-->
    <div *ngIf="cargando">
      <!--Cargando-->
      <h2 class="flow-text center-align">Lista de Carros Desactivados</h2>
      <div class="row">
        <div class="col s12 m12 l12 center-align">
          <div class="preloader-wrapper big active">
            <div class="spinner-layer spinner-blue-only">
              <div class="circle-clipper left">
                <div class="circle"></div>
              </div><div class="gap-patch">
                <div class="circle"></div>
              </div><div class="circle-clipper right">
                <div class="circle"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div><!--Cargando-->
    <div *ngIf="!cargando">
      <div class="row">
        <div class="col s12 m12 l12">
          <h2 class="flow-text center-align">Lista de Carros Desactivados</h2>
          <br>

          <div class="row">
            <div class="col s12 m6 l6">
              <select>
                <option value="" disabled selected>Choose your option</option>
                <option value="">{}</option>
              </select>
              <label>Carros Desactivados</label>
            </div>
          </div>

          <table class="bordered highlight centered responsive-table center-align">
            <thead>
              <tr>
                <th>Nombre Completo</th>
                <th>Código Reactivación</th>
                <th>Reactivar y Asignar</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let of ">
                <td>{{}}</td><!-- Nombre Completo -->
                <td><input [(ngModel)]="" id="cod-r" type="text" class="validate"><label for="cod-r">código</label></td>
                <td><button [disabled]=" == null" (click)="()" class="btn waves-effect waves-light blue darken-1"><i class="material-icons white-text darken-1">assignment</i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div><!--Section-->
</div><!-- Container-->
