<div class="row center">
  <app-side-bar-fav></app-side-bar-fav>
</div>

<div class="container">
  <div class="section">
    <br><br><br>
    <div class="row">


      <form materialize (submit)="solicitarCita()" >
        <div class="form-group col s12 m12 l12">
          <div class="row">
            <div class="input-field col s12 m6 l6">

              <select [(ngModel)]="solicitud.idAux" name="idVehiculo">
                <option value="" disabled>Selecciona un vehiculo</option>
                <option *ngFor="let carro of userVehiculos" [value]="carro.idVehiculo">
                  {{ carro.Marca }} {{ carro.Modelo }}
                </option>
              </select>
              <label>Vehiculo</label>
            </div>

            <div class=" input-fueld col s12 m6 l6">
              <label for="motivo">MOTIVO</label>
              <input id="motivo" class="validate" type="text" name="motivo" [(ngModel)]="solicitud.motivo" required />
            </div>
          </div>

          <div class="row">
            <div class="input-field col s12 m6 l6">
              <input id="datepicker" materialize="pickadate" name="fecha_inicial"
                     [(ngModel)]="solicitud.fecha_inicial" />
              <label for="fecha_inicial">A PARTIR DE</label>
            </div>
            <div class="input-field col s12 m6 l6">
              <input id="datepicker" materialize="pickadate" name="fecha_final"
                     [(ngModel)]="solicitud.fecha_final" />
              <label for="fecha_final">HASTA</label>
            </div>
          </div>

        </div>


        <div class="row">
          <div class="col s12 m12 l12 center-align ">
            <button class="btn btn-large waves-effect waves-light blue darken-1" type="submit">
              Solicitar
            </button>
          </div>
        </div>

      </form>



    </div>

  </div>
</div>
