<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">TALLER MATIENZO</h1>
      <div class="row center">
        <h5 class="header center col s12 light">Los mejores en Mecánica Automotriz</h5>
      </div>
      <div class="row center">
        <a href="/signup" id="download-button" class="btn-large waves-effect waves-light blue darken-1">Registrarme</a>
        <a href="/login" id="download-button" class="btn-large waves-effect waves-light blue darken-1">Entrar</a>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax parallaxOscuro"><img src="http://www.chevrolet.com/content/dam/chevrolet/na/us/english/index/vehicles/2018/cars/cruze/mov/01-images/2018-cruze-shared01.jpg?imwidth=1500" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
  <div class="section">
      <br>
    <!--   Icon Section   -->
    <div class="row">
      <div  class="col s12 m4">
        <div  class="icon-block">
          <h2 class="center blue-text darken-1"><i class="material-icons">flash_on</i></h2>
          <h5 class="center">Atención Rápida y Eficiente</h5>

          <p class="flow-text text-justify">
            En TallerMatienzo sabemos lo valioso que es tu tiempo, por eso garantizamos un servicio eficiente gracias a nuestro sistema inteligente de gestion de citas y mecanicos altamente calificados para darle el cariño que tu carro merece en el menor tiempo posible.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text darken-1"><i class="material-icons">group</i></h2>
          <h5 class="center">El Cliente es Nuestra Prioridad</h5>

          <p class="flow-text text-justify">
            Somos una empresa formada por clientes para clientes, entendemos su posicion y haremos que se sienta lo mas comodo posible mientras su automovil se encuentra en mantenimiento.
          </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center blue-text darken-1"><i class="material-icons">settings</i></h2>
          <h5 class="center">Mecánicos Elite</h5>

          <p class="flow-text text-justify">Contamos con los mejores profesionales especializados en marcas como Chevrolet, Ford, Volkswagen, Assembler, Toyota, Audi, SEAT, Ferrari, Porsche y Lamborguini.</p>
        </div>
      </div>
    </div>

  </div>
</div>


<!--Mientras creamos mas contenido estas etiquetas son necesarias-->
<br><br><br><br>
