<div id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <h2 class="center white-text">Bienvenido, {{user.PrimerNombre}}</h2>
    </div>
  </div>
  <div class="parallax parallaxOscuro" ><img src="https://1.bp.blogspot.com/-1nsplB3Hxow/WiNbm7h6poI/AAAAAAAADq4/oY5bK5y3eVARuM2YUnTy3-sHea05Um71gCEwYBhgL/s1600/l2.jpg" alt="Unsplashed background img 1"></div>
</div>

<app-side-bar-fav></app-side-bar-fav>

<div class="container">
  <div class="section">
    <div class="hide-on-small-only"><br></div>
      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m12 l12">
          <div class="icon-block">
            <ul class="collection with-header">
              <li class="flow-text collection-header"><h4>Información de Interés</h4></li>
              <li class="flow-text collection-item"><div>No recibiremos vehículos en Semana Santa.<a href="" class="secondary-content"><i class="material-icons">more_horiz</i></a></div></li>
              <li class="flow-text collection-item"><div>10% de descuento para empleados de IBM.<a href="" class="secondary-content"><i class="material-icons">more_horiz</i></a></div></li>
              <li class="flow-text collection-item"><div>¡Nuevo Servicio de Autolavado!<a href="" class="secondary-content"><i class="material-icons">more_horiz</i></a></div></li>
              <li class="flow-text collection-item"><div>¿Cuando hacerle servicio a tu vehículo?<a href="" class="secondary-content"><i class="material-icons">more_horiz</i></a></div></li>
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
