<div id="paraheight" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <br><br>
      <h1 class="header center white-text">Bienvenido, {{user.PrimerNombre}}</h1>
      <div class="row center">
        <app-side-bar-fav></app-side-bar-fav>
      </div>
      <br><br>

    </div>
  </div>
  <div class="parallax parallaxOscuro" ><img src="https://1.bp.blogspot.com/-1nsplB3Hxow/WiNbm7h6poI/AAAAAAAADq4/oY5bK5y3eVARuM2YUnTy3-sHea05Um71gCEwYBhgL/s1600/l2.jpg" alt="Unsplashed background img 1"></div>
</div>
